*{
    padding: 0;
    box-sizing: border-box;
    margin: o;
    font-family: Poppins, sans-serif;
}
/*Above is my boiler plate css*/
/*styling for container*/
.container{
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(93, 138, 93), rgb(103, 103, 233));
    width: 100%;
    padding: 10px;
}