*{
    padding: 0;
    box-sizing: border-box;
    margin: o;
    font-family: Poppins, sans-serif;
}
/*Above is my boiler plate css*/
/*styling for container*/
.container{
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(131, 204, 131), rgb(74, 74, 163));
    width: 100%;
    padding: 10px;
}